@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Lato:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Creepster, Verdana;
    font-weight: 400;
    background-color: #29202c;
    color: rgb(163, 152, 142);
}

h1,
h2 {
    font-family: Creepster, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: rgb(163, 152, 142);
}

h3, p {
    font-family: Lato;
    font-weight: 300;
    color: #f4f5f1
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    font-family: Lato, sans-serif;
}

#menu,
#logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: rgb(163, 152, 142);
}

#menu a:hover {
    border-bottom: 1px solid rgb(163, 152, 142);
}

.active {
    border-bottom: 1px solid rgb(163, 152, 142);
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/livro-abert.jpg') no-repeat center center;
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

#cover-text,
#cover-text h2 {
    color: #af847a;
}

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

#cover-text {
    font-size: 130%;
    font-family: Lato, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 300px;
    height: 200px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(135, 66, 60, .9);

    bottom: 30px;
    right: 150px;

    position: absolute;
}

#club-ethos {
    width: 100%;
    height: auto;
    margin-bottom: 50px;
}

#left-about {
    padding-top: 30px;
    width: 50%;
    float: left;
}

#right-about {
    padding-top: 30px;
    width: 50%;
    float: right;
    padding-bottom: 50px;
}

hr {
    border-top: 1px solid rgb(163, 152, 142);
    width: 100%;
    margin: 5px 0;
}

p {
    text-align: justify;
}

.left-about-heading {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

#welcome {
    text-align: center;
    margin: 20px 0;
    font-size: 280%;
}

#circle-container {
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style: solid;
    border-color: #87423c;
    border-radius: 50%;
    border-width: 1px;
    margin: 0 auto;
}

#circle-cover-bg {
    background: url('../images/caneca.jpg') no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

#find {
    background-image: url('../images/hp2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
}

#find a:hover {
    border-bottom: 1px solid rgb(163, 152, 142);
}

#find a {
    text-decoration: none;
    color: rgb(163, 152, 142);
}

#find div {
    color: #fafafa;
    background-color: rgba(0, 0, 0, .6);
    width: 50%;
    height: 200px;
    float: left;
    padding: 30px 0 0 10px;
    text-align: center;
    border: 2px solid rgb(163, 152, 142);
    box-sizing: border-box;
}

#find h2 {
    color: #fafafa;
}

footer {
    height: 150px;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #87423c;
}

/*#photos {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0;
}

#photos > a > img {
    width: 100%;
}*/

.mural {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.photo {
    width: 20%;
    height: 0;
    padding-bottom: 20%;
    position: relative;
    margin-bottom: 20px;
}

.photo img {
    position: absolute;
    width: 95%;
    height: 95%;
    object-fit: cover;
    border: 1px solid rgb(163, 152, 142);
}

#chapters {
    height: 600px;
    width: 100%;
    overflow: auto;
    position: relative;
}

#chapters h2 {
    text-align: center;
    margin-top: 50px;
}

@media screen and (max-width: 1200px) {
    #club-ethos {
        width: 100%;
        height: auto;
        margin-bottom: 0px;
        
    }

    #welcome {
        padding: 30px 0;
        margin: 0;
    }

    #left-about {
        width: 80%;        
        float:left;
        clear:both;
        margin-bottom: 0px;
        padding-left: 50px;
        padding-right: 50px;

    }

    #right-about {
        clear:both;
        width: 100%;
        float: left;
        margin-bottom: 50px;
        
    } 
    
    #find > div {
        width: 100%;
        clear: both;
        height: 150px;
        padding: 0;
    }

    hr {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .photo {
        width: 48%;
        padding-bottom: 48%;
        margin-bottom: 10px;
        border: 1px solid rgb(163, 152, 142);
    }

    .mural-container {
        height: 1200px;
        overflow: auto;
    }

    #menu {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
    }

    #cover-text {
        left: 0;
    }

    #club-ethos {
        width: 90%;
        height: 1200px;
        margin: 0 auto;
    }

    .left-about-heading {
        width: inherit;
    }

    .left-about-heading,
    h2 {
        width: 100%;
        text-align: center;
    }

    .left-about-heading p {
        text-align: center;
        padding: 0 20px;
    }
}